dialog {
  width: 35rem;
  background-color: var(--color-bg-secondary);
  color: var(--color-primary);
  padding: calc(var(--gutter) * 2);
  border: 1px solid var(--color-border-secondary);
  /* margin: calc(var(--height-controls-outer) + var(--height-title)) auto 0; subtract var(--gutter) to sit flush */
}

dialog .status-bar {
  position: relative;
  padding: 0;
  margin: 0;
}

dialog .title {
  padding-right: 0;
  padding-left: 0;
}

dialog form {
  display: block;
  width: 100%;
}

dialog .title,
dialog fieldset,
dialog .l-label-input-button {
  margin-bottom: calc(var(--gutter) * 2);
}

dialog label {
  font-size: .8em;
}

dialog .label-tip {
  color: var(--color-secondary);
  font-size: .9em;
}

dialog legend > .h-small {
  margin-bottom: calc(var(--gutter) * 2);
  margin-left: -2px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, .7); /* var(--color-bg-overlay) not applied */
}
