/* .l-center-v */

.l-center-v {
  display: grid;
  align-content: center;
}

/* .l-cols-3-2 */

.l-cols-3-2 {
  display: grid;
  grid-template-columns: auto calc(40% + var(--gutter));
  column-gap: var(--gutter);
}

.l-cols-3-2-reverse > *:first-child {
  order: 2;
}

.l-cols-3-2-reverse > *:last-child {
  order: 1;
}

/* .l-cols-1-1 */

.l-cols-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--gutter);
  gap: calc(var(--gutter) * 3);
}

/* .l-status-bar */

.l-status-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gutter);
}

.l-status-bar > * {
  margin: 0;
}

/* .l-croppers */

.l-croppers {
  display: grid;
  grid-template-areas:
    'master slave3 slave3'
    'master slave1 slave2';
  grid-template-rows: var(--height-cropper-slave) var(--height-cropper-slave);
  grid-template-columns: 1fr 20% 20%;
  row-gap: var(--gutter);
  column-gap: var(--gutter);
}

.l-croppers > .cropper-collapsed {
  grid-area: slave1;
  width: 100%;
}

.l-croppers > .cropper-thumbnail {
  grid-area: slave2;
  width: 100%;
}

.l-croppers > .cropper-banner-bg {
  grid-area: slave3;
  width: 100%;
}

/* .l-horz-list */

.l-horz-list {
  display: flex;
  align-items: center; /* header = stretch */
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gutter);
}

.l-horz-list > fieldset {
  min-width: 0;
}

.l-horz-list-center,
.l-horz-list-center .l-horz-list-header {
  margin-right: auto;
  margin-left: auto;
}

.l-horz-list-center legend {
  width: 100%;
  text-align: center;
}

.l-horz-list > * {
  margin: 0;
}

.l-horz-list-header {
  margin-right: var(--gutter-half);
}

.l-horz-list-reverse {
  flex-direction: row-reverse;
}

.l-horz-list > legend {
  display: contents;
}

/* .l-image-meta */

.l-image-meta {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: right;
}

.l-image-meta > :first-child {
  margin-right: auto; /* align left */
}

/* .l-image-meta > :last-child {
  text-align: right;
} */

/* .l-title */

.l-title {
  height: var(--height-title);
  align-items: center;
}

.l-title > :last-child {
  text-align: right;
}

.l-title > :last-child h2 + .control-action {
  margin-left: auto; /* right align */
}

/* .l-label-input-button */

.l-label-input-button {
  display: grid;
  grid-template-areas:
    'label label'
    'input button';
  grid-template-columns: auto 4rem;
  gap: var(--gutter);
}

.l-label-input-button > label {
  grid-area: label;
}

.l-label-input-button > input {
  grid-area: input;
  width: 100%;
}

.l-label-input-button > button {
  grid-area: button;
}

/* .l-page */

.l-page {
  display: grid;
  grid-template-rows: var(--height-title) var(--height-editor) var(--height-thumbnails);
  height: 100vh;
}

/* prevent flash of white content when navigating thumbnails */
.l-page,
.l-page > * {
  overflow: hidden;
}

/* .l-radio-label */

.l-radio-label {
  display: grid;
  margin-right: var(--gutter);
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.l-visually-hidden {
  /* stylelint-disable declaration-no-important */
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  /* stylelint-enable  declaration-no-important */
}
