/* .status-bar */

.status-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2; /* overlap focalpoint circles */
  background-color: var(--color-bg-secondary);
  color: var(--color-tertiary);
  font-family: monospace;
  font-size: var(--text-small);
  padding: var(--gutter-half) calc(var(--gutter) * 2) var(--gutter) ;
  border-top: 1px solid var(--color-border-shadow);
  margin: 0 var(--gutter);
}

.status-bar-heading {
  opacity: .75;
  font-size: inherit;
  font-weight: normal;
}

.status-bar-heading::after {
  content: " >";
}

.status-bar-msg-type:not(:empty)::before {
  content: "> ";
  color: var(--color-tertiary);
}

.status-bar-msg-type.msg-message {
  text-transform: capitalize;
}

.status-bar-msg-type.msg-success {
  color: var(--color-success);
  text-transform: capitalize;
}

.status-bar-msg-type.msg-warning {
  color: var(--color-warning);
  text-transform: capitalize;
}
