:root {
  --gutter: .5rem;
  --gutter-double: calc(.5rem * 2);
  --gutter-half: calc(.5rem/2);
  --gutter-quarter: calc(.5rem/4);

  --text-small: .8rem;
  --text-smaller: .75rem;
  --text-medium: .9rem;
  --text-regular: 1rem;
  --text-tiny: .7rem;

  --color-primary: rgba(255, 255, 255, 1);
  --color-primary-75: rgba(255, 255, 255, .75);
  --color-secondary: rgba(204, 204, 204, 1);
  --color-success: rgba(0, 200, 0, 1);
  --color-tertiary: rgba(150, 150, 150, 1);
  --color-warning: rgba(255, 140, 0, 1);

  --color-checked-on: var(--color-success);
  --color-checked-off: rgba(255, 0, 0, 1);
  --color-focus: rgba(255, 200, 0, 1);
  --color-input: var(--color-primary);
  --color-input-readonly: var(--color-secondary);

  --color-bg-darker: rgba(0, 0, 0, .1);
  --color-bg-image: rgba(134, 134, 134, 1);
  --color-bg-light: rgba(247, 247, 247, 1);
  --color-bg-lighter: rgba(255, 255, 255, .1);
  --color-bg-overlay: rgba(0, 0, 0, .7);
  --color-bg-primary: rgba(0, 0, 0, 1);
  --color-bg-secondary: rgba(20, 20, 20, 1);
  --color-bg-tertiary: rgba(51, 51, 51, 1);
  --color-bg-thumb: rgba(255, 255, 255, .15);

  --color-border-active: rgba(170, 170, 170, 1);
  --color-border-cropper-view-box: var(--focalpoint-default);
  --color-border-focussed: var(--color-focus);
  --color-border-secondary: rgba(255, 255, 255, .5);
  --color-border-shadow: rgba(0, 0, 0, 1);
  --color-border-tertiary: rgba(51, 51, 51, 1);

  --focalpoint-default: var(--color-secondary);
  --focalpoint-dirty: var(--color-warning);
  --focalpoint-saved: var(--color-success);

  --height-controls-inner: 5rem;
  --height-controls-outer: calc(var(--height-controls-inner) + var(--gutter-half) + var(--gutter-half));
  --height-status-bar: 1.3rem;
  --height-cropper-master: calc(var(--height-editor) - var(--height-controls-outer));
  --height-cropper-slave: calc((var(--height-editor) - var(--height-controls-outer) - var(--gutter)) / 2);
  --height-editor: calc(66vh - var(--height-title));
  --height-image-meta: 5.6rem;
  --height-thumbnails: 34vh;
  --height-title: 2.6rem;

  --image-percent-x: 50%;
  --image-percent-y: 50%;

  --opacity-modal-overlay: .5;
  --opacity-thumb-brightness: .8;

  --width-cropper-view-box: 4px; /* cannot use rems or calc() as must be exposed to getPropertyValue() as a number */
}

/* #cropper states */

[data-cropper-focalpoint-save-status='default'] {
  --color-border-cropper-view-box: var(--focalpoint-default);
}

[data-cropper-focalpoint-save-status='dirty'] {
  --color-border-cropper-view-box: var(--focalpoint-dirty);
}

[data-cropper-focalpoint-save-status='saved'] {
  --color-border-cropper-view-box: var(--focalpoint-saved);
}