{
  "root": true,
  "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module"
  },
  "env": {
      "es6": true
  },
  "extends": [
    "airbnb-base/legacy",
    "plugin:cypress/recommended",
    "plugin:jsdoc/recommended"
  ],
  "globals": {
    "uiSelectFolder": "readonly"
  },
  "plugins": [
    "jsdoc"
  ],
  "ignorePatterns": [
    "node_modules/",
    "*.html"
  ],
  "rules": {
    "array-bracket-spacing": ["error", "always"],
    "block-spacing": ["error", "always"],
    "class-methods-use-this": [
      "off"
    ],
    "comma-spacing": ["error"],
    "cypress/no-unnecessary-waiting": "off",
    "func-names": "off",
    "indent": ["warn", 2],
    "jsdoc/require-tags": [
      "error", {
        "tags": [ "summary" ]
      }
    ],
    "jsdoc/reject-any-type": "off",
    "jsdoc/reject-function-type": "off",
    "max-len": "off",
    "no-alert": "off",
    "no-await-in-loop": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "no-param-reassign": [ "warn", {
      "props": false
    }],
    "no-unused-vars": [
      "warn", 
      {
        "varsIgnorePattern": "^(ui)|^config"
      }
    ],
    "no-unused-expressions": 0,
    "prefer-regex-literals": 0,
    "valid-typeof": [
      "off"
    ]
  }
}